body
{
    margin: 0;   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
}
h1
{
    font:20;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* p{
    margin-top: 10px;
    border: 1px solid orange;
    padding: 10px;
} */
.container
{
   width: 80%;
   margin: auto;
   overflow : hidden;
}
#mainHeader {
    background: #333333;
    margin: auto;
    overflow: hidden;
}
#mainNav
{
    background: grey;
    color: black;
    overflow: hidden;
}

#mainNav ul {
    padding: 10px;
    margin: auto;
    list-style: none;
}

#mainNav li{
    display: inline;
    padding: 5px 10px;
}

#mainNav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

#mainNav li:hover{
    background:silver ;
}

#jumbo
{
    margin:-20px;
    background-image: url(mountains.PNG);
    background-position: center;
    background-size: auto;
    min-height: 420px;
    text-align: center;

}

#jumbo h1{
    color: black;
    
}

#main
{

    float:right;
    width: 70%;
    padding: 130px 180px;
    box-sizing: border-box;

}

#sidebar 
{
    float :left;
    width: 30%;
    padding: 50px;
    border-right: 2px solid black;
    box-sizing: border-box;
}

#mainFooter
{
    background:#333;
    color: white;
    padding:20px;
    margin-top: 50 px;
}
#form
{
    margin-left: 200px;
}