<!-- displays our list  -->

<!-- {% extends "calgarystudents/base.html" %}
{% block title %}View List{% endblock %}

{% block content %}
	<h1>{{ls.name}}</h1>
	<form method="post" action ="#">
		{% csrf_token %}
		<ul>
			{% for item in ls.item_set.all %}
				{% if item.complete == True %}
					<li><input type="checkbox",value="clicked",name="c{{item.id}}" checked>{{item.text}}</li>
				{% else %}
					<li><li><input type="checkbox",value="clicked",name="c{{item.id}}">{{item.text}}</li>
				{% endif %}
			{% endfor %}
		</ul>
		<button type="submit",name="save",value="save">Save</button>
		<input type="text", name="newtask">
		<button type="submit",name="newTask",value="newTask">Add Task</button>
	</form>

{% endblock %} -->